<!-- menu_difficultes.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head content -->
</head>
<body>
    <h1>Choose Difficulty</h1>
    <ul>
        <li><a href="{{ url_for('lancer_partie', game_mode=game_mode, difficulte='Facile') }}">Easy</a></li>
        <li><a href="{{ url_for('lancer_partie', game_mode=game_mode, difficulte='Moyen') }}">Medium</a></li>
        <li><a href="{{ url_for('lancer_partie', game_mode=game_mode, difficulte='Difficile') }}">Difficult</a></li>
    </ul>
</body>
</html>
